@tailwind base;
@tailwind components;
@tailwind utilities;


#hero {
    background-image: url('./assets/bg-pc.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 768px) {
    #hero {
        background-image: url('./assets/bg-mob.jpg');
    }
}
